# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/

# Environment variables (IMPORTANT)
.env

# Streamlit
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/

# Build files
dist/
build/
*.egg-info/

# Cache
.cache/
